 <widget id="com.example.hello" version="0.0.1">
	<name>RX&D Code of Ethical Practices</name>
	<description>
		The full and up-to-date RX&D Code of Ethical Practices app.
	</description>
	<author email="dev@publisismo.ca" href="http://www.publissimo.ca">
		Publissimo Inc.
	</author>
	<content src="index.php" />
	<access origin="*" />
</widget>