 <widget id="com.example.hello" version="0.9.1">
	<name>RX&amp;D Code of Ethical Practices</name>
	<description>
		The full and up-to-date RX D Code of Ethical Practices app.
	</description>
	<author email="dev@publisismo.ca" href="http://www.publissimo.ca">
		Publissimo Inc.
	</author>
	<content src="index.php" />
	<access origin="*" />
    <icon src="res/icon.png" />
</widget>
